.film__cart {
  width: 250px;
  min-height: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #13161D;
  border-radius: 5px;
  color: #f1f1f1;
}

.film__cart img {
  width: 250px;
  height: 350px;
  padding-bottom: 10px;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.film__cart h4 {
  text-align: center;
}

.film__cart p {
  padding: 5px;
  text-align: center;
}

.film__cart_genres {
  color: #919191;
}

.film__cart_rating {
  color: burlywood;
  margin-right: 10px;
}

.film__cart_bottom {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
}