@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

#root {
  background: #1B1818;
}

.container {
  position: relative;
  min-height: calc(100vh);
}

.button {
  cursor: pointer;
  height: 45px;
  width: 100px;
  padding: 8px;
  font-size: 1.25rem;
  font-weight: 400;
  color: #f1f1f1;
  background-color: #111;
  background-clip: padding-box;
  border: 1px solid #111;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}