@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

#root {
  background: #1B1818;
}

.container {
  position: relative;
  min-height: calc(100vh);
}

.movies_container {
  margin-left: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 25px;
}

.btn_more_movies {
  cursor: pointer;
  grid-column: 1/-1;
  color: #818181;
  font-size: 20px;
  margin: 30px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #818181;
  transition: 0.3s;
}

.btn_more_movies:hover {
  color: #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}

@media screen and (max-width: 825px) {
  .movies_container {
    margin-left: 0;
  }
}

.button {
  cursor: pointer;
  height: 45px;
  width: 100px;
  padding: 8px;
  font-size: 1.25rem;
  font-weight: 400;
  color: #f1f1f1;
  background-color: #111;
  background-clip: padding-box;
  border: 1px solid #111;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}