.leftSidebar {
  height: 100%;
  width: 190px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftSidebar_header {
  color: #f1f1f1;
  display: block;
  width: 190px;
  box-sizing: border-box;
  padding-left: 15px;
  margin: 20px 0 20px 0;
}

.leftSidebar_top a {
  padding: 6px 8px 6px 23px;
  text-decoration: none;
  font-size: 22px;
  color: #919191;
  display: block;
  transition: 0.3s;
}

.leftSidebar_top a:hover,
.closebtn:hover,
.leftSidebar_bottom a:hover {
  color: #f1f1f1;
}

.leftSidebar_top .active {
  color: #f1f1f1;
  position: relative;
}

.closebtn {
  cursor: pointer;
  color: #919191;
  display: none;
  top: 10px;
  right: 10px;
  font-size: 20px;
}

.openbtn {
  color: #818181;
  font-size: 30px;
  cursor: pointer;
  display: none;
  position: fixed;
  left: 16px;
  top: 10px;
}

.leftSidebar_bottom {
  padding-bottom: 70px;
  width: 190px;
}

.leftSidebar_bottom a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #818181;
  height: 100%;
  transition: 0.3s;
}

@media screen and (max-width: 825px) {
  .leftSidebar {
    width: 0;
    transition: 0.5s;
  }

  .leftSidebar_header {
    border-bottom: 1px solid #f1f1f1;
  }


  .leftSidebar .closebtn {
    display: block;
    position: absolute;
  }

  .openbtn {
    display: block;
  }
}